:root {
  --bgmain: ;
}

html {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  text-align: center;
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.movies-wrapper {
  display: block;
  margin: auto;
  position: relative;
  max-width: 1200px;
  background: transparent;



}

@media (min-width: 870px) {
  .movies-wrapper {
    display: block;
    margin: auto;
    position: relative;

  }
}

.movie-listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  justify-items: center;
  padding: 50px 20px;
  grid-row-gap: 20px;
  background: transparent;

}

section.paginations {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
  justify-content: center;
}

@media (min-width: 500px) {
  .movie-listing {
    grid-template-columns: repeat(auto-fill, 33%);
  }
}


@media (min-width: 700px) {
  .movie-listing {
    grid-template-columns: repeat(auto-fill, 25%);
  }
}


@media (min-width: 870px) {
  .movie-listing {
    grid-template-columns: repeat(auto-fill, 20%);
  }
}



@media (min-width: 1600px) {
  .movie-listing {
    grid-template-columns: repeat(auto-fill, 20%);
  }
}