:root {
  --bgmain: ;
}

html {
  background: white;
}

.App {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a h1.logo-title:hover {
  text-decoration: none;
}

.movies-wrapper {
  display: block;
  margin: auto;
  position: relative;
  max-width: 1080px;
  background: transparent;
}

.pag-buttons {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

section.paginations {
  display: block;
  flex-wrap: wrap;
  width: 95%;
  margin: 20px auto;
  justify-content: center;
}

.wishlist-icon {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 50px;
  height: 50px;
}

@media (min-width: 700px) {
  .movie-listing {
    grid-template-columns: repeat(auto-fill, 25%);
  }
}

@media (min-width: 870px) {
  .movie-listing {
    grid-template-columns: repeat(auto-fill, 20%);
  }
}

@media (min-width: 1600px) {
  .movie-listing {
    grid-template-columns: repeat(auto-fill, 20%);
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #282c34 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
